[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/wo-splitter"]
	path = lib/wo-splitter
	url = https://github.com/logos-innovation-lab/wo-splitter
